
.entry-list {
	background-color: 243166;
	min-height: 100%;
	padding-top: 10px
}

.content {
	padding-top: 10px;
	background-color: #ddd;
	min-height: 100%;
    
}

a.entry-heading {
    text-shadow: black 1px 1px 1px;
	float: left;
    font-size: 20px;
    cursor: pointer;
}

.entry-description {
	font-size: 12px;
	clear: both;
	text-shadow: black 1px 1px 1px;
	padding-left: 10px;
}

.entry {
	border-bottom: 1px solid #115;
	padding-bottom: 5px;
	margin-bottom: 10px;
	color: #A9CAEC;
}

.date {
	text-shadow: black 1px 1px 1px;
	font-size: 10px;
	float: right;
}

.whole-journal {
}

.add-entry {
	display: block;
}

.templates {
	display: none;
}
